*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
body{
    background-color: #eee;
    /* height: 2000px; */
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: #017bff;
    color: #fff;
    z-index: 10;
    position: relative;
}
header .logo{
font-size: 30px;
font-weight: bold;
}
header ul{
display: flex;
align-items: center;
gap: 20px;
}
header ul a{
    color: #fff;
    text-decoration: none;
}
.content{
    display: flex ;
    position: relative;
}
aside{
background-color: #fff;
min-width:250px;
padding: 100px 20px 15px 15px;
height: 100vh;
position: fixed;
top: 0;
bottom: 0;

z-index: 0;
/* display: flex;
flex-direction: column;
justify-content: center;
align-items: center; */
}
aside h3{
    color: black;
    margin-bottom: 10px;

}
input,select{
    padding: 10px 10px;
    border-radius: 24px; 
    border: 1px solid black;
    outline: none;
    caret-color: #017bff;
}
.filter{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
aside button,.btn{
    background-color: #017bff;
    padding: 10px 10px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
    color: #fff;
    border:none;
    outline: none;
    cursor: pointer;
}
.btn{
width: 100px;
}
main{
    padding: 10px 15px;
    width: calc(100% - 250px);
    margin-left: auto;
   

}
main .products{
     display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}
.pagination{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    justify-content: center;
}
.card{
 background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card img{
    width: 200px;

}
.title{
color: #017bff;
font-weight: 800;
min-height: 70px;
}
.category{
background-color: #000;
color: #fff;
font-weight: bold;
padding: 4px;
border-radius: 10px;
margin-top: 10px;
}
.desc{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.price{
color: rgb(77, 167, 137);
font-size: 20px;
margin: 10px 0;
}
.product-container img{
    width: 300px;
}
.product-container{
background-color: #eee;
width: 50%;
margin: 20px auto;

}

.product-container > div{
background-color: #fff;
border-radius: 8px;
display: flex;
gap: 20px;
padding: 20px 15px; 
}
.flex{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;

}
.flex span{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
}
.flex a{
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
.flex span:nth-child(1){
    background-color: green;
}
.flex span:nth-child(2){
    background-color: yellow;
}
.flex span:nth-child(3){
    background-color: red;
}
table{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border: 3px solid #ddd;
}
th{
    background-color: #017bff;
    padding: 5px 10px;
}
td{
    border: 1px solid #000;
    padding: 5px;
}
.bg-blue{

}
.form{
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background-color: #017bff;
    padding: 20px 15px;
    width: 80%;
    margin:auto;
    border-radius: 10px;
}
.edit-form{
    display: flex;
    flex-direction: column;
    gap:4px;
    width: 100%;
    
}
.edit-form-label{
color: #eee;
}
.edit-form-input{
width: 100%;
border-radius: 10px;
}
.update,.add{
    margin-top: 10px;
    background-color: #fff;
    color: #017bff;
    padding: 10px 15px ;
    width:fit-content;
    font-size: 18px;
    font-weight:500;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #0f7ff0;
}
.search{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    width: 70%;
    position: relative;
    margin-inline: auto;
}
.search input{
    width: 100%;
    padding: 15px 15px;
}
.search div{
    position:absolute;
    right: 15px;
    cursor:pointer;
}

.modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  min-width: 280px;
  animation: fadeIn 0.3s ease;
}

#close-modal {
  margin-top: 10px;
  padding: 6px 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#close-modal:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
.loader-container{
background-color: rgba(0,0,0);
width: 100%;
height: 100%;
display: none;
justify-content: center;
align-items: center;
position: absolute;
top: 0;
left: 0;

}

.loader {
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 50%;
  color: #0f7ff0;
  animation: fill 1s ease-in infinite alternate;
}
.loader::before , .loader::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  left: 48px;
  top: 0;
  animation: fill 0.9s ease-in infinite alternate;
}

.loader::after {
  left: auto;
  right: 48px;
  animation-duration: 1.1s;
}

@keyframes fill {
 0% {  box-shadow: 0 0 0 2px inset }
 100%{ box-shadow: 0 0 0 10px inset }
}
  